<wea5-navbar></wea5-navbar>

<div class="bg-white rounded-3 p-3">
  <div class="mb-2 mt-2 ">
    <form [formGroup]="discountForm"
          (ngSubmit)="submitForm()">

      <div class="row g-3">
        <div class="col-sm-12">
          <label for="name" class="form-label" style="font-weight: bold;">Name</label>
          <input [ngClass]="{'border-warning': errors['firstName']}"
                 name="name"
                 formControlName="name"
                 type="text" class="form-control" id="name">
          <div class="text-info-emphasis" *ngIf="errors['name']">
            {{ errors['name'] }}
          </div>
        </div>


        <div class="col-sm-6">
          <label class="form-label" style="font-weight: bold;">Rule</label>
          <select
            class="form-select" aria-label="select aggregation level"
            name="rule"
            formControlName="rule"
            id="rule">
            <option value="24eeff2c-65c6-4482-b1ac-c6cb5f2d6b84">Minimum Product Count Rule</option>
            <option value="0f4e0b04-e32b-4897-804c-92f858468d8a">Time Window Rule</option>
          </select>
          <div class="text-info-emphasis" *ngIf="errors['rule']">
            {{ errors['rule'] }}
          </div>
        </div>

        <div class="col-sm-6">
          <label class="form-label" style="font-weight: bold;">Action</label>
          <select
            class="form-select" aria-label="select aggregation level"
            name="action"
            formControlName="action"
            id="action">
            <option value="68a4020d-a8ac-4a74-8a04-24e449786898">Fixed discount value</option>
            <option value="29ad1eea-1cfb-4473-8556-65f86fca0471">Percentage discount value</option>
          </select>
          <div class="text-info-emphasis" *ngIf="errors['action']">
            {{ errors['action'] }}
          </div>
        </div>

        <div class="col-sm-6">
          <label for="name" class="form-label" style="font-weight: bold;">Rule Setting</label>
          <textarea
            class="form-control"
            formControlName="ruleSetting"
            id="ruleSetting" name="ruleSetting"
            rows="6"
            oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>
        </textarea>
          <div class="text-info-emphasis" *ngIf="errors['ruleSetting']">
            {{ errors['ruleSetting'] }}
          </div>
        </div>

        <div class="col-sm-6">
          <label for="name" class="form-label" style="font-weight: bold;">Action Setting</label>
          <textarea
            class="form-control"
            formControlName="actionSetting"
            id="actionSetting"
            name="actionSetting"
            rows="6"
            oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>
        </textarea>
          <div class="text-info-emphasis" *ngIf="errors['actionSetting']">
            {{ errors['actionSetting'] }}
          </div>
        </div>
      </div>

      <hr class="my-4">
      <button class="w-100 btn btn-primary btn-lg" [disabled]="discountForm.invalid" type="submit">Save discount setting</button>

    </form>
  </div>

</div>

