<wea5-navbar></wea5-navbar>

<div class="bg-white rounded-3 p-3">

  <div class="row g-3 mb-3">
    <div id="aggregateBy" class="col-sm-3">
      <label class="form-label" style="font-weight: bold;">Aggregate by</label>
      <select class="form-select" aria-label="select aggregation level" [(ngModel)]="aggregate" (ngModelChange)="updateData()">
        <option value="Day">Day</option>
        <option value="Month">Month</option>
        <option value="Year">Year</option>
      </select>
    </div>

    <div id="displayedData" class="col-sm-3">
      <label class="form-label" style="font-weight: bold;">Display</label>
      <select class="form-select" aria-label="select aggregation level" [(ngModel)]="display" (ngModelChange)="updateData()">
        <option value="countOrders">Number of orders</option>
        <option value="revenue">Revenue</option>
        <option value="discRevenue">Discounted Revenue</option>
        <option value="avgRevenue">Avg. revenue per order</option>
        <option value="avgDiscRevenue">Discounted avg. revenue / order</option>
        <option value="countProducts">Number of products sold</option>
        <option value="avgProducts">Avg. number of products / order</option>
      </select>
    </div>
  </div>


  <div id="inputGroup" class="row g-3 mb-3">

      <div id="fromDate" class="col-sm-3">
        <label class="form-label" style="font-weight: bold;">From</label>
        <wea5-datepicker (dateChangedEvent)="fromDateChanged($event)"></wea5-datepicker>
      </div>

      <div id="untilDate" class="col-sm-3">
        <label class="form-label" style="font-weight: bold;">Until</label>
        <wea5-datepicker (dateChangedEvent)="untilDateChanged($event)"></wea5-datepicker>
      </div>

  </div>

  <div class="text-center">
    <canvas id="cartStatistics"  height="120"
      baseChart type="bar">
    </canvas>
  </div>
</div>


