<div class="mb-2 mt-2">
<form [formGroup]="shopDetailsForm"
      (ngSubmit)="submitForm()">

  <div class="row g-3 mt-2">
    <div class="col-sm-6">
      <label for="name" class="form-label">Shop name</label>
      <input [ngClass]="{'border-warning': errors['name']}"
             name="name"
             formControlName="name"
             type="text" class="form-control" id="name">
      <div class="text-info-emphasis" *ngIf="errors['name']">
        {{ errors['name'] }}
      </div>
    </div>

      <div class="col-sm-6">
        <label for="cartLifetime" class="form-label">Cart Lifetime (in Minutes)</label>
        <input [ngClass]="{'border-warning': errors['cartLifetime']}"
               name="cartLifetime"
               formControlName="cartLifetime"
               type="text" class="form-control" id="cartLifetime">
        <div class="text-info-emphasis" *ngIf="errors['cartLifetime']">
          {{ errors['cartLifetime'] }}
        </div>
      </div>
  </div>

  <div class="row g-3 mb-3">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="appKey" class="form-label">App Key</label>
          <input [ngClass]="{'border-warning': errors['appKey']}"
                 name="appKey"
                 formControlName="appKey"
                 type="text" class="form-control" id="appKey">
          <div class="text-info-emphasis" *ngIf="errors['appKey']">
            {{ errors['appKey'] }}
          </div>
        </div>

          <div class="col-sm-6 d-flex align-items-end">
           <button (click)="enableForm()" *ngIf="!editing" class="btn btn-primary" type="submit">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
               <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
               <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
             </svg> Edit </button>
          </div>

      </div>
  </div>

  <div class="m-t-sm">
    <div class="btn-group me-3">
      <button *ngIf="editing" class="w-100 btn btn-primary" [disabled]="shopDetailsForm.invalid" type="submit">Save Shop Details</button>
    </div>
    <div class="btn-group">
      <button (click)="cancelEditing()" *ngIf="editing" class="w-100 btn btn-secondary">Cancel Editing</button>
    </div>
  </div>

</form>
</div>
