<wea5-navbar></wea5-navbar>

<div class="bg-white rounded-3 p-3">
  <div class="mb-2 mt-2 ">
    <form [formGroup]="productForm"
          (ngSubmit)="submitForm()">

      <div class="row">
        <div class="col-sm-6">
          <label for="name" class="form-label" style="font-weight: bold;">Name</label>
          <input [ngClass]="{'border-warning': errors['name']}"
                 name="name"
                 formControlName="name"
                 type="text" class="form-control" id="name">
          <div class="text-info-emphasis" *ngIf="errors['name']">
            {{ errors['name'] }}
          </div>
        </div>

        <div class="col-sm-6">
          <label for="name" class="form-label" style="font-weight: bold;">Price</label>
          <input [ngClass]="{'border-warning': errors['price']}"
                 name="price"
                 formControlName="price"
                 type="number" min="0.01" max="999999" step=".01" class="form-control" id="price">
          <div class="text-info-emphasis" *ngIf="errors['price']">
            {{ errors['price'] }}
          </div>
        </div>


      </div>

      <div class="row mt-3">
        <div class="col-sm-6">
          <label for="name" class="form-label" style="font-weight: bold;">Description</label>
          <textarea
            class="form-control"
            formControlName="description"
            id="description"
            name="description"
            rows="4"
            oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>
          </textarea>
          <div class="text-info-emphasis" *ngIf="errors['description']">
            {{ errors['description'] }}
          </div>
        </div>
      </div>

      <hr class="my-4">
      <button class="w-100 btn btn-primary btn-lg" [disabled]="productForm.invalid" type="submit">Save product</button>

    </form>
  </div>

</div>
